/* Custom css notification */
.my-notification {
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-notification .strip,
.my-notification .title {
  display: none;
}

.my-notification .close {
  order: 2;
  align-self: flex-end;
  position: initial;
}

.my-notification .content {
  order: 1;
  margin: 0;
}

/* Custom animation */
.from-left-appear {
  opacity: 0.01;
  transform: translateX(-100px);
}

.from-left-appear.from-left-appear-active {
  opacity: 1;
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transform: translateX(0px);
}

.from-left-leave {
  opacity: 1;
  transform: translateX(0px);
}

.from-left-leave.from-left-leave-active {
  opacity: 0.01;
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transform: translateX(-100px);
}